.modal {
    display: none; /* Default: modal disembunyikan */
    position: fixed;
    z-index: 1000; /* Modal akan berada di atas elemen lainnya */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Latar belakang gelap transparan */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Pusatkan modal secara vertikal dan horizontal */
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px; /* Maksimal ukuran modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 15px;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #45a049;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}

.close:hover {
    color: #ff0000;
}
